attrs==20.3.0
autopep8==1.5.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
clldutils==3.6.0
colorlog==4.7.2
csvw==1.10.1
cwcwidth==0.1.4
eng-to-ipa==0.0.2
Flask==1.1.2
futures==3.1.1
goslate==1.5.1
idna==2.10
ipa2==0.7.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
nlp2==1.8.29
pep8==1.7.1
phonemizer==2.2.2
pkg-resources==0.0.0
pycodestyle==2.6.0
PyDictionary==2.0.1
python-dateutil==2.8.1
pytube==10.4.1
pyxdg==0.27
regex==2020.11.13
requests==2.25.1
rfc3986==1.4.0
segments==2.2.0
six==1.15.0
soupsieve==2.2
tabulate==0.8.7
toml==0.10.2
typing-extensions==3.7.4.3
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.3
Werkzeug==1.0.1
